@media only screen and (max-width: 600px){
    body {
        background-color:lightblue;
    }

    .export {
        padding : 6px !important;
    }

    #table , .container{
        position:relative;
        right:3px;
        bottom: 9px;
    }

    td,th {
        min-width: 5.2pc;
    }

    .container {
        width:25pc !important;
    }

    .clear {
        margin-right: 90px !important;
    }
}
