*{
  /* margin:0; */
  padding:0;
  box-sizing: border-box;
}

body{
  height:100vh;
  width:100vw;
}
.containerCs {
    place-content: baseline;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    /* flex-direction: row; */
    height: 15pc;
    width: 26pc;
    background-color: cadetblue;
    flex-wrap: wrap;
}
#score {
    float: right;
}

.product , .selection {
    position: relative;
    margin-left: 3px;
    align-self: baseline;
    float: left;
    margin-top: 14px;
}

label {
    margin-top: 15px;
    margin-left: 7px;
}

#add{
    background-color: aquamarine;
    border-radius: 10px;
    font-family: cursive;
    border-color: cadetblue;
    cursor: pointer;
    margin-top: 15px;
    color: darkslategrey;
}

#add:hover {
  background-color:turquoise;
}
.clear {
  margin-right: 8pc;
}

#tdColor {
    width: 29px;
    height: 14px;
    /* margin: 0; */
    border: solid 1px #aaa;
    display: block;
    margin: 0 auto;
}

#productImage {
    width: 20px;
    margin: 0 auto;
    display: block;
}

#colorBtn {
  background-color: #dddddd;
  border-radius: 11px;
  cursor: pointer;
}

/*
tr {
  background-color: #89af89;
}
*/
.export {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 14px;
    border-color: blueviolet;
    cursor: pointer;
    /* margin-top: 10pc; */
}

#export:hover {
  background-color: #ea5757;
}
.options {
  display: flex;
  right: 32px !important;
  position: relative;
  justify-content: center;
  margin-top: 20px;
  FONT-WEIGHT: 500;
}

.hidden{
  visibility: hidden;
  border: none;
}

.btns {
  /* background-color: tomato; */
}

.pnum{
  /* float: left; */
  margin-right: 5px;
}


.p0total{
  /* text-align: center; */
}

.edit{
    position: relative;
    top: 3px;
    display: none;
    /* float: left; */
    background-color: ;
    margin: auto;
}

.num {
  /* background-color: lightblue !important; */
  text-align: right;
  border: none !important;
}

#price2,#date{
  margin-right: 10pc;
}

#date {
  left: 29px;
}

br{
  display:none;
}

.remove {
  display : none;
  position:absolute;
}

.selection {
  margin-right: 9pc !important;
  margin-left: unset;
  top: 6px;
  position: relative;
  width: 12.8pc;
  left: 102px;
}

fieldset {
  background-color: cadetblue;

}

legend{
  /* background-color: #a57f86 !important; */
  color: white;
  font-size: small !important;
  padding: 5px 10px;
  left: 113px;
  position: relative;
}

.labels , .inputs {
  display:flex;
  flex-direction:column;
}

.no-data{
  display: block;
  left: 20pc;
  position: relative;
}

/*w3 */
table {
    margin: 0 auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    position: relative;
    /* right: 84px; */
  }
  
  td, th {
    border: 1px solid #cc9797;
    text-align: center;
    padding: 8px;
    min-width: 90px;
  }
  
  
  tr#thead > th {
    background-color: lightseagreen;
  }

  td  {
        background-color: #ddd;
  }

  #name{
    /* margin-top: 5px !important; */
    width: 113px;
    margin-right: 0px;
    z-index: 1;
  }

  .names{
    display: flex;
    position: absolute;
    /* place-items: center; */
    /* margin-bottom: 11px; */
    align-items: baseline;
    margin-top: -9px;
  }

  #products{
    position: absolute;
  }

  #myTable{
    right: 86px;
  }



